<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Election System</title>
</head>
<body>
    <img src="/static/background.jpg" alt="background" width=100%>
    <h1>Welcome to Election 2024!</h1>
    <p>Dear [User's Name],</p>
    <br>
    <p>Thank you for registering as a voter. We're excited to have you
        on board as part of our democratic process. Your participation is
        crucial in making our elections fair and representative.</p>
    <p>Here's what you can expect:</p>
    <ul>
        <li><strong>Access to Voter Registration and Candidate Information:</strong> Easily find details about
            your voter registration status and learn more about the candidates running for office</li>
        <li><strong>Real-Time Updates on Election Events: </strong>Stay informed about upcoming elections, important dates,
            and any changes to the voting process</li>
        <li><strong>Secure Voting Process: </strong>We prioritize your privacy and security, ensuring that your vote
            is confidential and protected</li>
    </ul>
    <img src="/static/vote.jpg" alt="vote" width="100%">
    <p>If you have any questions or need assistance, please do not hesitate to reach out to our support
        team at inecnigeria@nigeria.com. We're here to help!</p>
    <p>Thank you for taking an active role in our democracy. Your vote matters!</p>
    <p>Best regards,</p>
    <p>The Election Management Team</p>
    <img src="/static/footer.jpg" alt="footer" width="100%">
</body>
</html>
